html { background-color: Aqua;}
#header {float: left; width: 100%}
#header_img {left: 33%; position: relative}
#maincontent {float: left; display: block; overflow: auto; width: 100%}
#deckwrap {margin-left: auto; margin-right: auto; background-color: White;}

