{% extends "base.html" %}

{% block main %}

<form name="input" action="{{request.path}}" method="post">

<fieldset>
<legend class="whitetext_class">Modify a Card</legend>
<label for="cardquestion" class="whitetext_class">Question: </label><input id="cardquestion" type="text" value="{{entry.QUESTION}}" name="cardquestion" />
<br>
<label for="cardanswer" class="whitetext_class">Answer: </label><input id="cardanswer" type="text" value="{{entry.ANSWER}}" name="cardanswer" />
<br>
<input type="hidden" value="{{entry.DECKID}}" id="deckid" name="deckid">
<input type="hidden" value="{{entry.ID}}" id="cardid" name="cardid">
<input type="submit" value="Submit" />
</fieldset>

</form> 

{% end %}
