<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-context-min.css">
        <link rel="stylesheet" type="text/css" href="{{static_url("mobile.css")}}" media="only screen and (max-device-width: 480px)"/>
        <link rel="stylesheet" type="text/css" href="{{static_url("base_common.css")}}" media="screen and (min-device-width: 481px)"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <title>{%block title%}{%end%}</title>
    </head>
    <body>
        <div>
            <header>
                <h1 id="main-logo"><a href="/">SS12 Flashcards</a></h1>
                <nav>
                    <ul>
                        <li><a href="/newdeck">New Deck</a></li>
                        <li><a href="/deckslist">My Decks</a></li>
                    </ul>
                </nav>
            {%block head%}{%end%}
            </header>
        </div>
        {%block main%}{%end%}
        
        {%block script%}{%end%}
    </body>
</html>
