{% extends "base.html" %}
{%block title%}Deck list{%end%}
{%block main%}
{% for entry in entries %}
  <div class="list_class">
    <div id="button_col">
        <div class="mod_class">
            <li>
                <a href="/modcard?cardid={{entry.ID}}">Modify</a>
            </li>
        </div>
        <div class="del_class">
        <li>
                <a href="/delcard?cardid={{entry.ID}}">Delete</a>
            </li>
        </div>
        </div>
        <div >
        <a href="cardsindecklist?deckid={{entry.ID}}" class="decks_list_links">{{entry.QUESTION}}</a>
        </div>
        <br>
 </div>
{% end %}
<div class="list_class">
    <div id="button_col">
<div class="newcard_class">
        <li>
                <a href="/delcard?cardid={{entry.ID}}">Add Card</a>
            </li>
        </div>
</div>
</div>
{%end%}
