{% extends "base.html" %}
{%block title%}Deck list{%end%}
{%block main%}
{% for entry in entries %}
 <div class="list_class">
        <a href="card?deckid={{entry.DECKID}}&cardid={{entry.ID}}" class="decks_list_links">{{entry.QUESTION}}</a>
        <div class="mod_class">
            <li>
                <a href="/modcard">Modify</a>
            </li>
        </div>
        <div class="del_class">
        <li>
                <a href="/delcard?cardid={{entry.ID}}">Delete</a>
            </li>
        </div>
        <br>
 </div>
</div>
{% end %}
{%end%}
