{% extends "base.html" %}
{%block main%}
<div class="mod_class">
            <li>
            <form name="del" action="{{request.path}}" method="post">
            <input type="hidden" value="{{deckid}}" id="deckid" name="deckid">
<input type="hidden" value="{{cardid}}" id="cardid" name="cardid">
<input type="hidden" value="confirm" name="result" id="result"
<input type="submit" value="Delete" style="width:100px;"/>
</form>
                
            </li>
        </div>
        <div class="del_class">
        <li>
                           <form name="cancel" action="{{request.path}}" method="post">
            <input type="hidden" value="{{deckid}}" id="deckid" name="deckid">
<input type="hidden" value="{{cardid}}" id="cardid" name="cardid">
<input type="hidden" value="cancel" name="result" id="result"
<input type="submit" value="Cancel" style="width:100px;" />
            </li>
        </div>
{% end %}