{% extends "base.html" %}

{% block main %}
<div class="form">
    <form name="input" action="{{request.path}}" method="post">

        <fieldset>
            <legend class="whitetext_class">Create a Card</legend>
            <ul>
                <li><label for="cardquestion" class="whitetext_class">Question: </label><input id="cardquestion" type="text" title="Enter your question" name="cardquestion" /></li>
                <li><label for="cardanswer" class="whitetext_class">Answer: </label><input id="cardanswer" type="text" title="Enter your answer" name="cardanswer" /></li>
                <li><input type="hidden" value="{{deckid}}" id="deckid" name="deckid"></li>
                <li><input type="submit" value="Create" /></li>
            </ul>
        </fieldset>

    </form> 
</div>
{% end %}
