html {background-color: #870000}
#header {float: left; width: 100%; background-color: #262626}
#header_img {}
button.btn{color:#870000; background-color: #262626;font: bold small 'trebuchet ms',helvetica,sans-serif; }
#right_col{background-color: #262626; height: 100%; width: 71px; float: right}
#left_col{background-color: #262626; height: 100%; width: 71px; float: left}
#maincontent {float: left; display: block; width: 100%; height: 100%; background-color: #870000}
#deckwrap {margin-left: auto; margin-right: auto;  height: 200px; width: 650px; position: relative; top: 21%}
#card {left: 13%; height: 100%; position: relative; text-align: center; background-color: White; width: 73%; border: 3px #000000 solid}
#card_text{top:45%; position: relative; left: -9%}
#prev_card{float: left; position: relative; top: 45%}
#next_card{float: right; position: relative; bottom: 117px; right: 5%}
#answer{position: relative; left: 40%}
#footerwrap { 
}

div#footer {
}

#footer #info {
}