body {font-family:Helvetica, Arial, sans-serif;font-size: 12px;text-shadow: rgba(0,0,0,.01) 0 0 1px;text-shadow: #fff 0px 1px 0px;letter-spacing:-0.035em;color:#292929;}
a { text-decoration: none; color: #333;}
a:hover { text-decoration: underline; color: #888; }
h1, h2, h3, h4, h5, h6 { font-family:"Courier New", Courier, monospace; }
p { font-size: 1.5em; padding: 10px; }
header nav ul { float: right; }
header nav ul li { font-size: 2em; float: left; padding: 7px; border: 1px solid #666;}
h1#main-logo a { font-size: 4em; padding: 10px; }
h1.heading { font-size: 3em; padding: 10px; }
div.form form fieldset { margin-bottom: 10px; }
div.form form fieldset legend { padding: 0 2px; font-weight: bold; }
div.form form fieldset label { display: inline-block; line-height: 1.8; vertical-align: top; width: 120px; }
div.form form fieldset li { padding: 5px; margin: 0; }

